services:
  app:
      build: .
      ports:
        - "8080:8080"
      depends_on:
        - redis
  redis:
    image: "redis:alpine"
    ports:
      - "6379"

  prometheus:
      image: prom/prometheus:latest
      ports:
        - "9090:9090"
      volumes:
        - ./monitoring/prometheus.yml:/etc/prometheus/prometheus.yml:ro
      depends_on:
        - app

  grafana:
      image: grafana/grafana:latest
      ports:
        - "3000:3000"
      depends_on:
        - prometheus